* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header img.logo {
  width: 150px;
  height: 100px;
  margin: 0 auto;
}
header .gnav-hidden {
  display: none;
}
header .sp-only {
  display: none;
}
header .sp-only .sp-menu {
  display: none;
}

div.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 80px;
}
div.nav-container nav.menu {
  margin-left: 30px;
}
div.nav-container nav.menu li {
  margin-bottom: 1.5em;
  list-style: none;
}
div.nav-container nav.menu li a {
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: #000;
}
div.nav-container nav.menu li a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}
div.nav-container nav.menu li a:hover::after {
  transform: scale(1, 1);
  transform-origin: left top;
}
div.nav-container div.sns ul {
  display: flex;
}
div.nav-container div.sns ul li {
  list-style: none;
  margin-right: 20px;
}
div.nav-container div.sns ul li img {
  width: 30px;
  height: 30px;
}

div.container {
  width: auto;
  margin-left: 200px;
}

div.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: url("../img/mv-bg@2x.jpg");
  position: relative;
}
div.main div.date-block {
  width: -moz-fit-content;
  width: fit-content;
}
div.main div.comment-block {
  width: -moz-fit-content;
  width: fit-content;
}
div.main p.small-date,
div.main p.big-comment-en,
div.main .big-comment-jp {
  background-color: #fff;
  margin-bottom: 10px;
}
div.main .small-date {
  width: -moz-fit-content;
  width: fit-content;
}
div.main p.big-comment-en,
div.main .big-comment-jp {
  font-size: max(3.2vw, 2rem);
  line-height: 1.25em;
  width: -moz-fit-content;
  width: fit-content;
}

div.back-title {
  padding: 50px;
  background-color: #f8f8f8;
}
div.back-title h2 {
  font-size: 22px;
}
div.back-title p {
  font-size: 14px;
}

div.cover {
  width: 70%;
  height: 80%;
}
div.cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

div.comment {
  position: absolute;
  width: 80%;
  height: 160px;
  left: 60px;
  bottom: 100px;
}

div.backnumbers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div.backnumbers .backnumber1,
div.backnumbers .backnumber2,
div.backnumbers .backnumber3,
div.backnumbers .backnumber4,
div.backnumbers .backnumber5,
div.backnumbers .backnumber6 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
div.backnumbers .backnumber1 div.back-cover,
div.backnumbers .backnumber2 div.back-cover,
div.backnumbers .backnumber3 div.back-cover,
div.backnumbers .backnumber4 div.back-cover,
div.backnumbers .backnumber5 div.back-cover,
div.backnumbers .backnumber6 div.back-cover {
  width: 60%;
  height: 60%;
}
div.backnumbers .backnumber1 div.back-cover img,
div.backnumbers .backnumber2 div.back-cover img,
div.backnumbers .backnumber3 div.back-cover img,
div.backnumbers .backnumber4 div.back-cover img,
div.backnumbers .backnumber5 div.back-cover img,
div.backnumbers .backnumber6 div.back-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
div.backnumbers .backnumber1 .back-comment-all,
div.backnumbers .backnumber2 .back-comment-all,
div.backnumbers .backnumber3 .back-comment-all,
div.backnumbers .backnumber4 .back-comment-all,
div.backnumbers .backnumber5 .back-comment-all,
div.backnumbers .backnumber6 .back-comment-all {
  width: 80%;
}
div.backnumbers .backnumber1 .back-comment-all .back-date,
div.backnumbers .backnumber2 .back-comment-all .back-date,
div.backnumbers .backnumber3 .back-comment-all .back-date,
div.backnumbers .backnumber4 .back-comment-all .back-date,
div.backnumbers .backnumber5 .back-comment-all .back-date,
div.backnumbers .backnumber6 .back-comment-all .back-date {
  font-size: 18px;
}
div.backnumbers .backnumber1 .back-comment-all .back-comment,
div.backnumbers .backnumber2 .back-comment-all .back-comment,
div.backnumbers .backnumber3 .back-comment-all .back-comment,
div.backnumbers .backnumber4 .back-comment-all .back-comment,
div.backnumbers .backnumber5 .back-comment-all .back-comment,
div.backnumbers .backnumber6 .back-comment-all .back-comment {
  font-size: 24px;
}

div.backnumber1 {
  background-color: #ecf4f9;
}

div.backnumber2 {
  background-color: #fbf3d2;
}

div.backnumber3 {
  background-color: #f9f2ed;
}

div.backnumber4 {
  background-color: #fae8c2;
}

div.backnumber5 {
  background-color: #e2efe7;
}

div.backnumber6 {
  background-color: #f2f5fb;
}

@media screen and (max-width: 768px) {
  div.nav-container {
    display: none;
  }
  header {
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #fff;
    left: 0;
    top: 0;
  }
  header img.logo {
    width: 270px;
    height: 50px;
    margin-bottom: 0;
  }
  header .sp-only {
    display: block;
  }
  header .sp-only #gnav-input:checked ~ .sp-menu {
    transform: translateX(0);
  }
  header .sp-only .sp-menu {
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.8s cubic-bezier(0.69, 0.04, 0.15, 0.98);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }
  header .sp-only .sp-menu nav.menu {
    margin-left: 30px;
  }
  header .sp-only .sp-menu nav.menu li {
    margin-bottom: 40px;
    list-style: none;
    margin-bottom: 75px;
  }
  header .sp-only .sp-menu nav.menu li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    color: #000;
  }
  header .sp-only .sp-menu nav.menu li a::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #000;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
  }
  header .sp-only .sp-menu nav.menu li a:hover::after {
    transform: scale(1, 1);
    transform-origin: left top;
  }
  header .sp-only .sp-menu div.sns ul {
    display: flex;
  }
  header .sp-only .sp-menu div.sns ul li {
    list-style: none;
    margin-right: 20px;
  }
  header .sp-only .sp-menu div.sns ul li img {
    width: 30px;
    height: 30px;
  }
  header .nav-icon,
  header .nav-icon-close {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  div.container {
    margin-top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    margin-left: 0;
  }
  div.backnumbers .backnumber1,
  div.backnumbers .backnumber2,
  div.backnumbers .backnumber3,
  div.backnumbers .backnumber4,
  div.backnumbers .backnumber5,
  div.backnumbers .backnumber6 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */